/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/mix-manifest.json
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*.php
/vendor
.env
.env.backup
.env.*.backup
.phpunit.result.cache
/.phpunit.cache
database/*.sqlite
database/*.sqlite-*
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
npm-debug.log*
yarn-error.log
yarn-error.log*
pnpm-debug.log*
/.DS_Store
.DS_Store
/.idea
/.vscode
